html {
    scroll-behavior: smooth;
}

div.intro h2 {
    color: white;
    font-family: 'Comforter', cursive;
    text-align: center;
    font-size: 500%;
    text-align: center;
    margin-top: 300px;
    margin-bottom: 0;
    
}

div.intro h3 {
    font-family: 'Comforter', cursive;
    color: grey;
    text-align: center;
    font-size: 200%;
    margin-bottom: 175px;
    margin-top: 0;
}

div.intro a {
    margin-top: 0%;
    margin-left: 48%;
    font-size: x-large;
    color: #384a54;
    text-decoration: none;
}

div.intro a:hover {
    color: white;
}

body {
    background-image: url(only-color.jpg);
}

nav h2 {
    font-family: 'Comforter', cursive;
    color: white;
    margin-left: 5%;
    margin-top: 1%;
    font-size: 175%;
}

header nav h2 a {
    color: white;
    text-decoration: none;
    
}

div.episodes {
    box-sizing: content-box;
    margin-left: 25%;
    margin-right: 15%;
    margin-top: 33.9%;
}
